:root {
    --primary-color: #0a1118;
    --primary-color-highlight: #233d54;
    --bs-body-font-family: 'Cabin', sans-serif;
    --timing: 400ms;
    --rotation: 20deg;
}

html {
    scroll-behavior: smooth;
}
/*TODO: Fix font*/
body {
    font-family: 'Cabin';
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}

/*
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/

/*
* Custom container
*/

.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container-custom {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-custom {
        width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container-custom {
        width: 1520px;
    }
}


/*main-end*/

.logo-pic {
    width: 10rem;
    height: 10rem;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.logo {
    padding: 0px;
}

/*Hero header bottom Start  Bootstrap*/
.hero {
    position: relative;
    height: 90vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

@media (min-width: 1400px) {
    .hero__heading {
        font-size: 3.2rem;
    }
}


.hero__video {
    position: absolute;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;

}

.hero__content {
    z-index: 1;
}

.hero-content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    front {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

/*background image*/

.header-bottom img {
    width: 100%;
    height: 50%;
    /*filter:blur(px)*/
}

.header-des {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: Flex-start;
    padding: 100px 50px;
    gap: 8px;
    backdrop-filter: blur(2px);
    box-shadow: 95px;
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 100%;
    max-height: 35%;
    border-style: solid;
    border-color: #F9FAF8;
    border-radius: 8px;
    /*position: absolute;*/
}

.business-name {
    color: #F9FAF8;
    font-size: 48px;
}

.business-des {
    color: #F9FAF8;
    font-size: 18px;
}

/*header section end*/

/*Card Section*/
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    gap: 18px;
    min-height: 100vh;
    perspective: 1000px;
    flex-wrap: wrap;
}

.card-container .card-custom img {
    max-width: 100%;
}

.card-custom {
    width: 300px;
    aspect-ratio: 9 / 16;
    position: relative;
    transform-style: preserve-3d;
    transition: rotate var(--timing) ease;
}

.card-custom:hover {
    rotate: x var(--rotation);
}

.card-custom::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 100;
    background-image: radial-gradient(circle, transparent 150px, black);
    opacity: 0;
    transition: opacity var(--timing);
}

.card-custom:hover::before {
    opacity: 1;
}

.card-custom::after {
    content: "";
    position: absolute;
    inset: 80% 0.5rem 0.5rem;
    translate: 0;
    transform: translateZ(-100px);
    background: black;
    filter: blur(1rem);
    z-index: 1;
    transition: rotate var(--timing), translate var(--timing);
}
.card-custom:hover::after {
    rotate: x calc(var(--rotation) * -1);
    translate: 0 60px;
}

.bg-card-img {
    position: relative;
    z-index: 10;
    height: 100%;
    object-fit: cover;
    object-position: -150px center;
}

.card-logo, .front-image {
    position: absolute;
}

.card-logo {
    z-index: 1000;
    filter: invert(1);
    width: 65%;
    margin-inline: auto;
    inset: auto 0 2rem;
    transform: translateY(0rem) translateZ(20px);
    transition: var(--timing);
}

.card-custom:hover .card-logo {
    transform: translateY(-2rem) translateZ(20px);
    rotate: x calc(var(--rotation) * -1);
}

.front-image {
    scale: 1.125;
    transform-origin: bottom;
    opacity: 0;
    z-index: 100;
    transition: var(--timing);
}

.card-custom:hover .front-image {
    opacity: 1;
    transform: translateY(-2rem) translateZ(-10px);
    rotate: x calc(var(--rotation) * -1);
}

/*Single-section*/

.single-section-bl {
    padding: 4rem 0 2rem 0;
    background-color: #CCCCFF;
    display: flex;
    justify-content: center;
}
.single-section-bl-op {
    padding: 4rem 0 2rem 0;
    background-color: #E8E8FF;
    display: flex;
    justify-content: center;
}
.single-section-bl-op-col {
    padding: 4rem 0 2rem 0;
    background-color: #E8E8FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.single-section-bl-ns {
    padding: 4rem 0 0rem 0;
    background-color: #CCCCFF;
    display: flex;
    justify-content: center;
}

.single-section {
    padding: 4rem 0 2rem 0;

    display: flex;
    justify-content: center;
}

.single-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.single-container-start {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10rem;
}

.single-container-extra {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8rem;
}

.text-box-lg-min {
    min-width: 300px;
    max-width: 300px;

}
.text-box {
    max-width: 600px;

}
.text-box-sml {
    max-width: 300px;

}

.text-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Icon container section*/

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.icon-caption h3{
    color: rgb(227, 174, 40);
}
.icon-caption{
    color: white;
}

/*Commission page*/

.center-text-container {
    max-width: 700px;
}

/*About us*/

.section__text__p1 {
    font-weight: 600;
}

.title {
    font-size: 3rem;
}

.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.socials-container {
    display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
}

.social-icon {
    cursor: pointer;
    height: 2rem;
}

.skill-border {
    display: inline-block;
        vertical-align: top;
        border: 1px solid;
        border-color: #CCCCFF;
        font-size: 1rem;
        padding: 0.3125rem 1.0625rem;
        margin: 0 0.5rem 0.625rem 0;
        border-radius: 1.125rem;
}

.software-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

.software-item {
    display: flex;
    align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 1.375rem;
}

/*Bullet point section*/
.pop-color{
    color:#fd7e14;
}